<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="/styles/bootstrap.css" rel="stylesheet">
		<link href="/styles/style.css" rel="stylesheet">

		<title>Error</title>
		<link href="styles/prettify.css" media="screen" rel="stylesheet" type="text/css">
	</head>
	<a href="/" class="btn btn-default"> < Back</a>
	<hr />
	<body>
	<h1>Error</h1>
		<div class="col-xs-12">
			<%=error%>
		</div>
	</body>
</html>