doctype 5
html(lang="en")
  head
    title= pageTitle
    link(href="styles/prettify.css", media="screen", rel="stylesheet", type="text/css")
    link(href="styles/style.css", media="screen", rel="stylesheet", type="text/css")
  body.
    <pre class="prettyprint lang-html">
        #{content}
    </pre>
  script(type='text/javascript', src='scripts/prettify.js')  
  script(type='text/javascript')
    prettyPrint();