<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Source of: <%=url%></title>
		<link href="styles/prettify.css" media="screen" rel="stylesheet" type="text/css">
	</head>
	<body>
		<pre class="prettyprint lang-html">
			<%=content%>
		</pre>
	</body>
	<script type="text/javascript" src="scripts/prettify.js"></script>
	<script type="text/javascript">prettyPrint();</script>
</html>